<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel = "stylesheet" href = "/css/reset.css">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src = "js/edit.js" defer></script>
</head>
<body>
    <header>
        <ul>
            <li><a href = "/register">Register</a></li>
            <li><a href = "/">Login</a></li>
            <% if(user) { %>
            <li><a href = "/logout">Logout</a></li>
            <% } %>
            <li><a href = "/guitar">Home</a></li>
            <li><a href = "/guitar">Gitaren</a></li>
            <li><a href = "/series">Series</a></li>
        </ul>
    </header>