<%- include("header") %>

<main>
    <form action="/" method="post" id = "login">
        <h3>Login</h3>
        <fieldset>
            <label for="username">Gebruikersnaam:</label>
            <input type="text" name="username" placeholder="Gebruikersnaam" required><br>
            <label for="password">Wachtwoord:</label>
            <input type="password" name="password" placeholder="Wachtwoord" id = "password" required><br>
        </fieldset>    
        <input id = "login_button" type="submit" value="Login">           
    </form>
</main>